[submodule "taiga-back"]
	path = taiga-back
	url = https://github.com/taigaio/taiga-back.git
	branch = 4.0.3
[submodule "taiga-front-dist"]
	path = taiga-front-dist
	url = https://github.com/taigaio/taiga-front-dist.git
	branch = 4.0.3-stable
